<div class="flex min-h-full flex-col items-center justify-center gap-5 p-5 lg:gap-10 lg:p-10">
  <div class="flex w-[300px] max-w-full flex-col lg:w-auto lg:flex-row">
    <div class="group relative aspect-square w-[300px] max-w-full overflow-hidden rounded-t-[var(--p-overlay-modal-border-radius)] lg:rounded-l-[var(--p-overlay-modal-border-radius)] lg:rounded-t-none">
      <div class="absolute right-0 top-0 z-10" *ngIf="user?.admin">
        <p-fileupload class="mix-blend-overlay transition-opacity group-hover:opacity-100 lg:opacity-0" [customUpload]="true" [auto]="true" (uploadHandler)="(null)" mode="basic" chooseIcon="pi pi-pencil" accept="image/*" maxFileSize="1000000" chooseLabel="" chooseStyleClass="p-button-icon-only p-button-text p-button-sm text-primary!" />
      </div>
      <img ngSrc="nicolaspaillard/profile" sizes="(max-width: 768px) 100vw, 30vw" priority placeholder fill />
    </div>
    <div class="card flex flex-col justify-center rounded-t-none border-t-0 p-5 lg:rounded-l-none lg:rounded-t-[var(--p-overlay-modal-border-radius)] lg:border-l-0 lg:border-t-2 lg:p-10">
      <h1 class="m-0 -mb-2 truncate text-2xl font-light tracking-wider lg:text-4xl">Nicolas Paillard</h1>
      <ngx-typed-js class="text-lg lg:text-xl" [strings]="strings" [loop]="true" [shuffle]="true" [backSpeed]="30" [typeSpeed]="30">
        <i class="block truncate">
          Développeur
          <span class="[&>span]:text-primary!">
            <span class="typing after:border-primary relative after:absolute after:left-0 after:top-full after:z-10 after:w-full after:-translate-y-full after:border-b-2 after:border-solid after:content-['']"></span>
          </span>
        </i>
      </ngx-typed-js>
    </div>
  </div>
  <div>
    <div class="flex flex-wrap justify-center gap-5 lg:gap-10">
      <app-section class="flex-[0_0_100%] sm:flex-[0_0_calc(50%-calc(var(--spacing)*calc(5/2)))] lg:flex-[0_0_calc(50%-calc(var(--spacing)*calc(10/2)))]" *ngFor="let section of items" [section]="section" (onEdit)="open(section)" (onRemove)="delete(section, 'text')"></app-section>
      <div class="card flex flex-[0_0_100%] items-center justify-center sm:flex-[0_0_calc(50%-calc(var(--spacing)*calc(5/2)))] lg:flex-[0_0_calc(50%-calc(var(--spacing)*calc(10/2)))]" *ngIf="user?.admin">
        <p-button class="block text-center" [text]="true" (onClick)="open()" size="large" icon="pi pi-plus"></p-button>
      </div>
    </div>
  </div>
</div>
<p-dialog [(visible)]="isShown" [modal]="true" [header]="(isEditing ? 'Modifier' : 'Ajouter') + ' un paragraphe'" [dismissableMask]="true">
  <form class="flex flex-col gap-2 [&_label>*]:w-full [&_label]:flex [&_label]:flex-col" [formGroup]="form">
    <input type="hidden" formControlName="id" />
    <label>
      Rang
      <p-inputnumber [showButtons]="true" formControlName="rank" />
    </label>
    <label>
      Texte
      <textarea class="min-h-40" pTextarea formControlName="text"></textarea>
    </label>
    <div class="flex justify-end gap-2">
      <p-button [text]="true" (onClick)="isShown = false">Annuler</p-button>
      <p-button [disabled]="!form.valid" (onClick)="isEditing ? update() : create()">{{ isEditing ? "Modifier" : "Ajouter" }}</p-button>
    </div>
  </form>
</p-dialog>
