<div class="card group relative h-full p-5 lg:p-10" [id]="project().id">
  <h2 class="mb-3 text-center text-xl font-bold">
    @if (project().url) {
      <a class="text-primary" [href]="'https://' + project().url" target="_blank">
        <i class="pi pi-external-link"></i>
        {{ project().title }}
      </a>
    } @else {
      {{ project().title }}
    }
  </h2>
  @if (user()?.admin) {
    <div class="absolute right-0 top-0 z-10 transition-opacity group-hover:opacity-100 lg:opacity-0">
      <p-button [text]="true" (onClick)="onProjectEdit.emit(project())" icon="pi pi-pencil" size="small" />
      <p-button [text]="true" (onClick)="onProjectRemoved.emit(project())" icon="pi pi-trash" size="small" severity="danger" />
    </div>
  }
  @if (project().images && project().images.split(";").length) {
    <p-carousel [value]="project().images.split(';')" [numVisible]="1" [numScroll]="1" [showIndicators]="false" [circular]="true" autoplayInterval="3000">
      <ng-template let-image pTemplate="item">
        <p-image class="[&_button]:w-full!" [src]="getURL(image)" [previewImageSrc]="getURL(image, false)" [preview]="true" imageClass="w-full" width="250">
          <ng-template #indicator>
            <i class="pi pi-search"></i>
          </ng-template>
        </p-image>
      </ng-template>
    </p-carousel>
  } @else {
    <p-image class="[&_button]:w-full!" [src]="getURL(project().images.split(';')[0])" [previewImageSrc]="getURL(project().images.split(';')[0], false)" [preview]="true" imageClass="w-full" width="250">
      <ng-template #indicator>
        <i class="pi pi-search"></i>
      </ng-template>
    </p-image>
  }
  <i class="block text-center">
    {{ project().company }}
    @if (!project().end) {
      | Depuis {{ project().start | date: "MM/yyyy" }}
    } @else if (project().start.getMonth() !== project().end.getMonth() || project().start.getFullYear() !== project().end.getFullYear()) {
      | {{ project().start | date: "MM/yyyy" }} - {{ project().end | date: "MM/yyyy" }}
    }
  </i>
  <p class="my-2 whitespace-pre-wrap">{{ project().description }}</p>
  @if (experience()) {
    <h3 class="mb-0 text-lg font-bold">Expérience</h3>
    <div class="flex gap-1 items-center text-primary" pTooltip="Aperçu" tooltipPosition="bottom">
      <i class="pi pi-eye"></i>
      <a [fragment]="experience()!.id" routerLink="/career">{{ experience()!.title }}</a>
    </div>
  }
  <p-accordion class="[&_.p-accordioncontent-content]:bg-transparent! [&_.p-accordioncontent-content]:px-0! [&_.p-accordioncontent-content]:pt-0! [&_.p-accordionheader]:bg-transparent! [&_.p-accordionheader]:px-0!" value="activities">
    @if (project().activities) {
      <p-accordion-panel value="activities">
        <p-accordion-header>Activités</p-accordion-header>
        <p-accordion-content>
          <ul class="list-inside list-disc">
            @for (activity of project().activities; track activity) {
              <li>{{ activity }}</li>
            }
          </ul>
        </p-accordion-content>
      </p-accordion-panel>
    }
    @if (skills().length) {
      <p-accordion-panel value="skills">
        <p-accordion-header>Compétences</p-accordion-header>
        <p-accordion-content>
          <div class="flex flex-col gap-2">
            @for (category of skills(); track $index) {
              <div>
                <a class="font-semibold" [fragment]="category.id" routerLink="/skills">{{ category.title }}</a>
                <div class="flex flex-wrap gap-x-2 items-center">
                  @for (skill of category.items; track $index) {
                    <a class="inline-flex items-center" [fragment]="skill.id" routerLink="/skills">
                      @if (skill.icon) {
                        <img [alt]="skill.title + ' icon'" width="24" height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ skill.icon.includes('dot-net') ? 'dot-net' : skill.icon.split('-')[0] }}/{{ skill.icon }}.svg" />
                      } @else {
                        <span class="font-extrabold w-6 h-6 inline-flex items-center justify-center">{{ skill.title[0].toUpperCase() }}</span>
                      }
                      <span>{{ skill.title }}</span>
                    </a>
                  }
                </div>
              </div>
            }
          </div>
        </p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
</div>
