<div class="flex h-full flex-col items-center justify-center">
  <div class="mx-auto my-2 hidden items-center gap-2 lg:flex">
    <button (onClick)="clear()" pButton icon="pi pi-trash" label="Réinitialiser"></button>
    <button (onClick)="load()" pButton icon="pi pi-refresh" label="Recharger"></button>
    <button *ngIf="user?.admin" (onClick)="save()" pButton icon="pi pi-save" label="Sauvegarder"></button>
    <p-fileupload class="inline-flex" id="upload-model" [customUpload]="true" [auto]="true" (uploadHandler)="import($event)" chooseIcon="pi pi-upload" chooseLabel="Importer modèle" mode="basic" accept=".pdf" maxFileSize="1000000" />
    <p-fileupload class="inline-flex" id="upload-template" [customUpload]="true" [auto]="true" (uploadHandler)="importTemplate($event)" chooseIcon="pi pi-upload" chooseLabel="Importer template" mode="basic" accept=".json" maxFileSize="1000000" />
    <button (onClick)="exportTemplate()" pButton icon="pi pi-download" label="Télécharger"></button>
    <button (onClick)="export()" pButton icon="pi pi-file-pdf" label="Générer"></button>
  </div>
  <p-splitbutton class="mx-auto lg:hidden" [model]="menuItems" (onClick)="save()" menuStyleClass="absolute!" label="Sauvegarder" />
  <div class="h-full w-full overflow-hidden" id="container"></div>
</div>
