<div class="flex h-full flex-col items-center justify-center">
  <div class="mx-auto my-2 hidden items-center gap-2 lg:flex">
    <p-button
      (onClick)="clear()"
      icon="pi pi-trash"
      label="Réinitialiser"
    ></p-button>
    <p-button
      (onClick)="load()"
      icon="pi pi-refresh"
      label="Recharger"
    ></p-button>
    @if (user()?.admin) {
      <p-button
        (onClick)="save()"
        icon="pi pi-save"
        label="Sauvegarder"
      ></p-button>
    }
    <p-fileupload
      class="inline-flex"
      id="upload-model"
      [customUpload]="true"
      [auto]="true"
      (uploadHandler)="import($event)"
      chooseIcon="pi pi-upload"
      chooseLabel="Importer modèle"
      mode="basic"
      accept=".pdf"
      maxFileSize="1000000"
    />
    <p-fileupload
      class="inline-flex"
      id="upload-template"
      [customUpload]="true"
      [auto]="true"
      (uploadHandler)="importTemplate($event)"
      chooseIcon="pi pi-upload"
      chooseLabel="Importer template"
      mode="basic"
      accept=".json"
      maxFileSize="1000000"
    />
    <p-button
      (onClick)="exportTemplate()"
      icon="pi pi-download"
      label="Télécharger"
    ></p-button>
    <p-button
      (onClick)="export()"
      icon="pi pi-file-pdf"
      label="Générer"
    ></p-button>
  </div>
  <p-splitbutton
    class="mx-auto lg:hidden"
    [model]="menuItems"
    (onClick)="save()"
    menuStyleClass="absolute!"
    label="Sauvegarder"
  />
  <div class="h-full w-full overflow-hidden" id="container"></div>
</div>
