<div class="flex min-h-full flex-col justify-center p-5 lg:p-10">
  <div class="grid items-stretch gap-5 md:grid-cols-2 lg:grid-cols-3 lg:gap-10">
    <app-project *ngFor="let project of items" [project]="project" (onProjectEdit)="open(project)" (onProjectRemoved)="delete(project, 'title')"></app-project>
    <div class="card flex items-center justify-center p-5 lg:p-10" *ngIf="user?.admin">
      <p-button class="block text-center" [text]="true" (onClick)="open()" size="large" icon="pi pi-plus"></p-button>
    </div>
  </div>
</div>
<p-dialog [(visible)]="isShown" [modal]="true" [header]="(isEditing ? 'Modifier' : 'Ajouter') + ' un projet'" [dismissableMask]="true">
  <form class="grid gap-2 md:grid-cols-2 [&_label>*]:w-full [&_label]:flex [&_label]:flex-col" [formGroup]="form">
    <input type="hidden" formControlName="id" />
    <label>
      Début
      <p-datepicker styleClass="w-full" formControlName="start" appendTo="body" dateFormat="dd/mm/yy" />
    </label>
    <label>
      Fin
      <p-datepicker styleClass="w-full" formControlName="end" appendTo="body" dateFormat="dd/mm/yy" />
    </label>
    <label>
      Titre
      <input pInputText type="text" formControlName="title" />
    </label>
    <label>
      URL
      <input pInputText type="text" formControlName="url" />
    </label>
    <label class="md:col-span-2">
      Texte
      <textarea pTextarea formControlName="text"></textarea>
    </label>
    <label>
      Société
      <input pInputText formControlName="company" />
    </label>
    <label>
      Adresse
      <input pInputText formControlName="address" />
    </label>
    <label>
      Code postal
      <input pInputText formControlName="postcode" />
    </label>
    <label>
      Ville
      <input pInputText formControlName="city" />
    </label>
    <label class="md:col-span-2">
      Activités
      <div class="relative flex items-center justify-between" *ngFor="let activity of activities">
        <span class="p-button-sm p-button-text p-button-contrast max-w-[300px] cursor-pointer truncate rounded-md" (click)="act.value = activity">•&nbsp;&nbsp;{{ activity }}</span>
        <div class="flex">
          <p-button [disabled]="activities[0] == activity" [text]="true" (onClick)="move(activity, true)" icon="pi pi-angle-up" styleClass="w-auto" size="small" severity="secondary" />
          <p-button [disabled]="activities[activities.length - 1] == activity" [text]="true" (onClick)="move(activity)" icon="pi pi-angle-down" styleClass="w-auto" size="small" severity="secondary" />
          <p-button [text]="true" (onClick)="remove(activity)" icon="pi pi-trash" styleClass="w-auto" size="small" severity="danger" />
        </div>
      </div>
      <p-inputGroup>
        <input #act pInputText placeholder="Activité" />
        <button [disabled]="!act.value" (click)="add(act.value)" type="button" pButton icon="pi pi-plus"></button>
      </p-inputGroup>
    </label>
    <label class="md:col-span-2">
      Images
      <span class="opacity-50" *ngIf="isEditing && !images._files.length">&nbsp;(Aucune modification)</span>
      <p-fileUpload #images [multiple]="true" accept="image/*">
        <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
          <p-button [outlined]="true" (onClick)="chooseCallback()" icon="pi pi-images"></p-button>
          <p-button [outlined]="true" [disabled]="!files || files.length === 0" (onClick)="clearCallback()" icon="pi pi-times" severity="danger" />
        </ng-template>
      </p-fileUpload>
    </label>
    <div class="flex justify-end gap-2 md:col-span-2">
      <p-button [text]="true" (onClick)="isShown = false">Annuler</p-button>
      <p-button [disabled]="!form.valid" (onClick)="isEditing ? update(images._files) : create(images._files); isShown = false">{{ isEditing ? "Modifier" : "Ajouter" }}</p-button>
    </div>
  </form>
</p-dialog>
