<div class="group/skill relative flex justify-between items-center h-full" [id]="skill.id">
  @if (user()?.admin) {
    <div class="absolute z-10 flex w-full justify-end transition-opacity group-hover/skill:opacity-100 lg:opacity-0">
      <p-button [text]="true" (onClick)="onEdit.emit(skill)" icon="pi pi-pencil" size="small" />
      <p-button [text]="true" (onClick)="onRemove.emit(skill)" icon="pi pi-trash" size="small" severity="danger" />
    </div>
  }
  <div class="flex w-full items-center">
    @if (skill.icon) {
      <img class="me-1" alt="skill icon" width="24" height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{ skill.icon.includes('dot-net') ? 'dot-net' : skill.icon.split('-')[0] }}/{{ skill.icon }}.svg" />
    } @else {
      <span class="font-extrabold mx-1">{{ skill.title[0].toUpperCase() }}</span>
    }
    <span [ngClass]="{ 'transition-opacity group-hover/skill:opacity-50': user()?.admin }">
      {{ skill.title }}
    </span>
  </div>
  <div class="text-xs" style="font-family: &quot;Lucida Sans&quot;, &quot;Lucida Sans Regular&quot;, &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Geneva, Verdana, sans-serif">{{ getDotsString(skill.level) }}</div>
</div>
