<div class="card group relative flex h-full items-center p-5 lg:p-10">
  @if (user()?.admin) {
    <div class="absolute right-0 top-0 z-10 transition-opacity group-hover:opacity-100 lg:opacity-0">
      <button [text]="true" (click)="onEdit.emit(section())" pButton iconOnly size="small"><svg pIcon="pencil"></svg></button>
      <button [text]="true" (click)="onRemove.emit(section())" pButton iconOnly size="small" severity="danger"><svg pIcon="trash"></svg></button>
    </div>
  }
  <p class="m-0">{{ section().text }}</p>
</div>
