<div class="flex min-h-full flex-col">
  <p-button class="mt-2 block text-center" *ngIf="user?.admin" [text]="true" (onClick)="open()" size="large" icon="pi pi-plus"></p-button>
  <p-table [value]="items" [expandedRowKeys]="expandedRows" dataKey="id" size="small">
    <ng-template #header>
      <tr>
        <th pSortableColumn="title">
          Titre
          <p-sortIcon field="title" />
        </th>
        <th pSortableColumn="activity">
          Activité
          <p-sortIcon field="activity" />
        </th>
        <th pSortableColumn="company">
          Société
          <p-sortIcon field="company" />
        </th>
        <th pSortableColumn="sector">
          Secteur
          <p-sortIcon field="sector" />
        </th>
        <th pSortableColumn="contactDate">
          Contact
          <p-sortIcon field="contactDate" />
        </th>
        <th pSortableColumn="relaunchDate">
          Relance
          <p-sortIcon field="relaunchDate" />
        </th>
        <th pSortableColumn="answerDate">
          Réponse
          <p-sortIcon field="answerDate" />
        </th>
        <th pSortableColumn="answer">
          Réponse
          <p-sortIcon field="answer" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-application let-expanded="expanded">
      <tr class="group relative">
        <td>
          <div class="me-2 inline-block">
            <p-button [pRowToggler]="application" [text]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" type="button" pRipple size="small" />
            <p-button [text]="true" (onClick)="open(application)" icon="pi pi-pencil" size="small" />
            <p-button [text]="true" (onClick)="delete(application, 'title')" icon="pi pi-trash" size="small" severity="danger" />
            <p-button *ngIf="application.contacts" [text]="true" (onClick)="mail(application)" size="small" severity="success" icon="pi pi-send" />
          </div>
          <span class="inline-block">{{ application.title }}</span>
        </td>
        <td>{{ application.activity }}</td>
        <td>{{ application.company }}</td>
        <td>{{ application.sector }}</td>
        <td>{{ application.contactDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.relaunchDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.answerDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.answer }}</td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-application>
      <tr>
        <td colspan="8">
          <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
            <div>
              Type :
              <br />
              {{ application.type === "offer" ? "Annonce" : "Spontané" }}
            </div>
            <div>
              Adresse :
              <br />
              {{ application.address }}
            </div>
            <div>
              Contacts :
              <div *ngFor="let contact of application.contacts.split(';')">{{ contact }}</div>
            </div>
            <div>
              Liens :
              <br />
              <a *ngFor="let link of application.links.split(';'); let index = index" [href]="link" target="_blank">{{ index + 1 }}&nbsp;</a>
            </div>
            <div>
              Commentaires :
              <br />
              {{ application.comments }}
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="isShown" [modal]="true" [header]="(isEditing ? 'Modifier' : 'Ajouter') + ' une candidature'" [dismissableMask]="true">
  <form class="grid gap-2 md:grid-cols-2 [&_label>*]:w-full [&_label]:flex [&_label]:flex-col" [formGroup]="form">
    <input type="hidden" formControlName="id" />
    <label>
      Titre
      <input pInputText formControlName="title" />
    </label>
    <label>
      Société
      <input pInputText formControlName="company" />
    </label>
    <label>
      Type
      <p-select [options]="['Annonce', 'Spontané']" formControlName="type" placeholder="Type"></p-select>
    </label>
    <label>
      Secteur
      <input pInputText formControlName="sector" />
    </label>
    <label>
      Activité
      <input pInputText formControlName="activity" />
    </label>
    <label class="md:col-span-2">
      Adresse
      <input pInputText formControlName="address" />
    </label>
    <label>
      Commentaires
      <textarea pTextarea formControlName="comments"></textarea>
    </label>
    <label>
      Réponse
      <textarea pTextarea formControlName="answer"></textarea>
    </label>
    <label for="lnk">
      Liens
      <div class="relative flex items-center justify-between" *ngFor="let link of links">
        <span class="p-button-sm p-button-text p-button-contrast max-w-[300px] cursor-pointer truncate rounded-md" (click)="lnk.value = link">•&nbsp;&nbsp;{{ link }}</span>
        <div class="flex">
          <p-button [disabled]="links[0] == link" [text]="true" (onClick)="move(link, 'links', true)" icon="pi pi-angle-up" size="small" severity="secondary" />
          <p-button [disabled]="links[links.length - 1] == link" [text]="true" (onClick)="move(link, 'links')" icon="pi pi-angle-down" size="small" severity="secondary" />
          <p-button [text]="true" (onClick)="remove(link, 'links')" icon="pi pi-trash" size="small" severity="danger" />
        </div>
      </div>
      <p-inputGroup>
        <input id="lnk" #lnk pInputText placeholder="Lien" />
        <button [disabled]="!lnk.value" (click)="add(lnk.value, 'links')" type="button" pButton icon="pi pi-plus"></button>
      </p-inputGroup>
    </label>
    <label for="ctt">
      Contacts
      <div class="relative flex items-center justify-between" *ngFor="let contact of contacts">
        <span class="p-button-sm p-button-text p-button-contrast max-w-[300px] cursor-pointer truncate rounded-md" (click)="ctt.value = contact">•&nbsp;&nbsp;{{ contact }}</span>
        <div class="flex">
          <p-button [disabled]="contacts[0] == contact" [text]="true" (onClick)="move(contact, 'contacts', true)" icon="pi pi-angle-up" size="small" severity="secondary" />
          <p-button [disabled]="contacts[contacts.length - 1] == contact" [text]="true" (onClick)="move(contact, 'contacts')" icon="pi pi-angle-down" size="small" severity="secondary" />
          <p-button [text]="true" (onClick)="remove(contact, 'contacts')" icon="pi pi-trash" size="small" severity="danger" />
        </div>
      </div>
      <p-inputGroup>
        <input id="ctt" #ctt pInputText placeholder="Contact" />
        <button [disabled]="!ctt.value" (click)="add(ctt.value, 'contacts')" type="button" pButton icon="pi pi-plus"></button>
      </p-inputGroup>
    </label>
    <div class="grid gap-2 md:col-span-2 md:grid-cols-3">
      <label>
        Contact
        <p-datepicker styleClass="w-full" formControlName="contactDate" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
      <label>
        Relance
        <p-datepicker styleClass="w-full" formControlName="relaunchDate" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
      <label>
        Réponse
        <p-datepicker styleClass="w-full" formControlName="answerDate" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
    </div>
    <div class="flex justify-end gap-2 md:col-span-2">
      <p-button [text]="true" (onClick)="isShown = false">Annuler</p-button>
      <p-button [disabled]="!form.valid" (onClick)="isEditing ? update() : create(); isShown = false">{{ isEditing ? "Modifier" : "Ajouter" }}</p-button>
    </div>
  </form>
</p-dialog>
