<div class="flex min-h-full flex-col">
  <button class="mt-2 block text-center" *ngIf="user()?.admin" [text]="true" (onClick)="open()" pButton size="large" icon="pi pi-plus"></button>
  <p-table [value]="items()" [expandedRowKeys]="expandedRows" dataKey="id" size="small">
    <ng-template #header>
      <tr>
        <th pSortableColumn="title">
          Titre
          <p-sorticon field="title" />
        </th>
        <th pSortableColumn="activity">
          Activité
          <p-sorticon field="activity" />
        </th>
        <th pSortableColumn="company">
          Société
          <p-sorticon field="company" />
        </th>
        <th pSortableColumn="sector">
          Secteur
          <p-sorticon field="sector" />
        </th>
        <th pSortableColumn="contactDate">
          Contact
          <p-sorticon field="contactDate" />
        </th>
        <th pSortableColumn="relaunchDate">
          Relance
          <p-sorticon field="relaunchDate" />
        </th>
        <th pSortableColumn="answerDate">
          Réponse
          <p-sorticon field="answerDate" />
        </th>
        <th pSortableColumn="answer">
          Réponse
          <p-sorticon field="answer" />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-application let-expanded="expanded">
      <tr class="group relative">
        <td>
          <div class="me-2 inline-block">
            <button [pRowToggler]="application" [text]="true" [plain]="true" iconOnly pButton type="button" pRipple size="small"><svg [pIcon]="expanded ? 'chevron-down' : 'chevron-right'"></svg></button>
            <button [text]="true" (onClick)="open(application)" pButton iconOnly size="small"><svg [pIcon]="'pencil'"></svg></button>
            <button [text]="true" (onClick)="delete(application, 'title')" pButton iconOnly size="small" severity="danger"><svg [pIcon]="'trash'"></svg></button>
            @if (application.contacts) {
              <button [text]="true" (onClick)="mail(application)" pButton iconOnly size="small" severity="success"><svg [pIcon]="'send'"></svg></button>
            }
          </div>
          <span class="inline-block">{{ application.title }}</span>
        </td>
        <td>{{ application.activity }}</td>
        <td>{{ application.company }}</td>
        <td>{{ application.sector }}</td>
        <td>{{ application.contactDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.relaunchDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.answerDate | date: "dd/MM/yyyy" }}</td>
        <td>{{ application.answer }}</td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-application>
      <tr>
        <td colspan="8">
          <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
            <div>
              Type :
              <br />
              {{ application.type === "offer" ? "Annonce" : "Spontané" }}
            </div>
            <div>
              Adresse :
              <br />
              {{ application.address }}
            </div>
            <div>
              Contacts :
              <ng-container *ngIf="application.contacts && application.contacts.length">
                <div *ngFor="let contact of application.contacts.split(';')">{{ contact }}</div>
              </ng-container>
            </div>
            <div>
              Liens :
              <br />
              <a *ngFor="let link of application.links.split(';'); let index = index" [href]="link" target="_blank">{{ index + 1 }}&nbsp;</a>
            </div>
            <div>
              Commentaires :
              <br />
              {{ application.comments }}
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="isShown" [modal]="true" [header]="(isEditing ? 'Modifier' : 'Ajouter') + ' une candidature'" [dismissableMask]="true">
  <form class="grid gap-2 md:grid-cols-2 [&_label>*]:w-full [&_label]:flex [&_label]:flex-col" [formGroup]="form">
    <input type="hidden" formControlName="id" />
    <label>
      Titre
      <input pInputText formControlName="title" />
    </label>
    <label>
      Société
      <input pInputText formControlName="company" />
    </label>
    <label>
      Type
      <p-select [options]="['Annonce', 'Spontané']" formControlName="type" placeholder="Type"></p-select>
    </label>
    <label>
      Secteur
      <input pInputText formControlName="sector" />
    </label>
    <label>
      Activité
      <input pInputText formControlName="activity" />
    </label>
    <label class="md:col-span-2">
      Adresse
      <input pInputText formControlName="address" />
    </label>
    <label>
      Commentaires
      <textarea pTextarea formControlName="comments"></textarea>
    </label>
    <label>
      Réponse
      <textarea pTextarea formControlName="answer"></textarea>
    </label>
    <label for="lnk">
      Liens
      <div class="relative flex items-center justify-between" *ngFor="let link of links">
        <span class="button-sm button-text button-contrast max-w-[300px] cursor-pointer truncate rounded-md" (click)="lnk.value = link">•&nbsp;&nbsp;{{ link }}</span>
        <div class="flex">
          <button [disabled]="links[0] == link" [text]="true" (onClick)="move(link, 'links', true)" pButton icon="pi pi-angle-up" size="small" severity="secondary"></button>
          <button [disabled]="links[links.length - 1] == link" [text]="true" (onClick)="move(link, 'links')" pButton icon="pi pi-angle-down" size="small" severity="secondary"></button>
          <button [text]="true" (onClick)="remove(link, 'links')" pButton icon="pi pi-trash" size="small" severity="danger"></button>
        </div>
      </div>
      <p-inputgroup>
        <input id="lnk" #lnk pInputText placeholder="Lien" />
        <button [disabled]="!lnk.value" (click)="add(lnk.value, 'links')" pButton type="button" pButton icon="pi pi-plus"></button>
      </p-inputgroup>
    </label>
    <label for="ctt">
      Contacts
      <ng-container *ngIf="contacts && contacts.length">
        <div class="relative flex items-center justify-between" *ngFor="let contact of contacts">
          <span class="button-sm button-text button-contrast max-w-[300px] cursor-pointer truncate rounded-md" (click)="ctt.value = contact">•&nbsp;&nbsp;{{ contact }}</span>
          <div class="flex">
            <button [disabled]="contacts[0] == contact" [text]="true" (onClick)="move(contact, 'contacts', true)" pButton icon="pi pi-angle-up" size="small" severity="secondary"></button>
            <button [disabled]="contacts[contacts.length - 1] == contact" [text]="true" (onClick)="move(contact, 'contacts')" pButton icon="pi pi-angle-down" size="small" severity="secondary"></button>
            <button [text]="true" (onClick)="remove(contact, 'contacts')" pButton icon="pi pi-trash" size="small" severity="danger"></button>
          </div>
        </div>
      </ng-container>
      <p-inputgroup>
        <input id="ctt" #ctt pInputText placeholder="Contact" />
        <button [disabled]="!ctt.value" (click)="add(ctt.value, 'contacts')" pButton type="button" pButton icon="pi pi-plus"></button>
      </p-inputgroup>
    </label>
    <div class="grid gap-2 md:col-span-2 md:grid-cols-3">
      <label>
        Contact
        <p-datepicker styleClass="w-full" formControlName="contactDate" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
      <label>
        Relance
        <p-datepicker styleClass="w-full" formControlName="relaunchDate" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
      <label>
        Réponse
        <p-datepicker styleClass="w-full" formControlName="answerDate" dateFormat="dd/mm/yy"></p-datepicker>
      </label>
    </div>
    <div class="flex justify-end gap-2 md:col-span-2">
      <button [text]="true" (onClick)="isShown = false" pButton>Annuler</button>
      <button [disabled]="!form.valid" (onClick)="isEditing ? update() : create(); isShown = false" pButton>{{ isEditing ? "Modifier" : "Ajouter" }}</button>
    </div>
  </form>
</p-dialog>
