<div class="flex min-h-full flex-col justify-center p-5 lg:p-10">
  <div class="border-b-primary mx-auto w-fit border-b-15 border-l-[7px] border-r-[7px] border-t-0 border-solid border-transparent"></div>
  <div class="relative w-full grow py-5">
    <div class="bg-primary absolute left-1/2 top-0 h-full w-0.5 -translate-x-[calc(100%-1px)] rounded-b-sm"></div>
    <div class="card lg:before:bg-primary flex w-full justify-center p-5 lg:ml-auto lg:w-[calc(50%-(--spacing(10)))] lg:p-10 lg:before:absolute lg:before:-left-[calc(--spacing(10)+1px)] lg:before:top-1/2 lg:before:h-[2px] lg:before:w-10 lg:before:-translate-y-full lg:before:content-['']" *ngIf="user()?.admin">
      <button class="block text-center" [text]="true" (onClick)="open()" pButton size="large" icon="pi pi-plus"></button>
    </div>
    <app-experience class="nth-[n+3]:mt-5 lg:nth-[n+3]:-mt-10 block" *ngFor="let experience of items(); let index = index" [experience]="experience" [right]="index % 2 != 0" (onExperienceRemoved)="delete(experience, 'title')" (onExperienceEdit)="open(experience)"></app-experience>
  </div>
</div>
<p-dialog [(visible)]="isShown" [modal]="true" [header]="(isEditing ? 'Modifier' : 'Ajouter') + ' une expérience'" [dismissableMask]="true">
  <form class="grid gap-2 md:grid-cols-2 [&_label>*]:w-full [&_label]:flex [&_label]:flex-col" [formGroup]="form">
    <input type="hidden" formControlName="id" />
    <div class="grid gap-2 md:col-span-2 md:grid-cols-3">
      <label>
        Type
        <p-select [options]="['Expérience', 'Formation', 'Évènement']" placeholder="Type" formControlName="type"></p-select>
      </label>
      <label>
        Début
        <p-datepicker class="w-full" formControlName="start" dateFormat="dd/mm/yy" />
      </label>
      <label>
        Fin
        <p-datepicker class="w-full" formControlName="end" dateFormat="dd/mm/yy" />
      </label>
    </div>

    <label>
      Titre
      <input pInputText type="text" formControlName="title" />
    </label>
    <label>
      Société
      <input pInputText formControlName="company" />
    </label>
    <label class="md:col-span-2">
      <div class="flex items-center gap-1">
        Texte
        <app-prompt-button (onClick)="promptedField = 'text'; isPrompting = true"></app-prompt-button>
      </div>
      <textarea pTextarea formControlName="text"></textarea>
    </label>
    <div class="grid gap-2 md:col-span-2 md:grid-cols-3">
      <label>
        Adresse
        <input pInputText formControlName="address" />
      </label>
      <label>
        Code postal
        <input pInputText formControlName="postcode" />
      </label>
      <label>
        Ville
        <input pInputText formControlName="city" />
      </label>
    </div>
    <label class="md:col-span-2">
      Activités
      <div class="relative flex items-center justify-between" *ngFor="let activity of activities">
        <span class="button-sm button-text button-contrast max-w-75 cursor-pointer truncate rounded-md" (click)="act.value = activity">•&nbsp;&nbsp;{{ activity }}</span>
        <div class="flex">
          <button [disabled]="activities[0] === activity" [text]="true" (onClick)="move(activity, true)" pButton pButton icon="pi pi-angle-up" styleClass="w-auto" size="small" severity="secondary"></button>
          <button [disabled]="activities[activities.length - 1] === activity" [text]="true" (onClick)="move(activity)" pButton pButton icon="pi pi-angle-down" styleClass="w-auto" size="small" severity="secondary"></button>
          <button [text]="true" (onClick)="remove(activity)" pButton pButton icon="pi pi-trash" styleClass="w-auto" size="small" severity="danger"></button>
        </div>
      </div>
      <p-inputgroup>
        <input #act pInputText placeholder="Activité" />
        <button [disabled]="!act.value" (onClick)="add(act.value)" pButton icon="pi pi-plus"></button>
      </p-inputgroup>
    </label>
    <div class="grid gap-2 md:col-span-2 md:grid-cols-2">
      <label>
        Projets
        <p-select [multiple]="true" [checkmark]="true" [options]="projects" [showClear]="true" formControlName="skills" optionLabel="title" optionValue="id" placeholder="Choisir les projets"></p-select>
      </label>
      <label>
        Compétences
        <p-select [multiple]="true" [checkmark]="true" [options]="skills" [showClear]="true" formControlName="skills" optionLabel="title" optionValue="id" placeholder="Choisir les compétences"></p-select>
      </label>
    </div>
    <div class="flex justify-end gap-2 md:col-span-2">
      <button [text]="true" (onClick)="isShown = false" pButton>Annuler</button>
      <button [disabled]="!form.valid" (onClick)="isEditing ? update() : create(); isShown = false" pButton>{{ isEditing ? "Modifier" : "Ajouter" }}</button>
    </div>
  </form>
</p-dialog>
<app-prompt [(isPrompting)]="isPrompting" [(form)]="form" [field]="promptedField"></app-prompt>
