<div class="flex min-h-full flex-col justify-center p-5 lg:p-10">
  <div class="flex flex-wrap items-stretch justify-center gap-5 *:p-5! *:flex-col lg:gap-10 *:text-4xl! md:*:text-2xl! xl:*:text-4xl! *:font-[800] *:flex-[0_0_100%] md:*:flex-[0_0_calc(calc(100%/3)-calc(var(--spacing)*(10*3-1)/3))] lg:*:flex-[0_0_calc(calc(100%/5)-calc(var(--spacing)*(10*5-1)/5))]">
    <a [outlined]="true" href="https://docker.nicolaspaillard.fr" target="_blank" pButton>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original-wordmark.svg" />
    </a>
    <a [outlined]="true" href="https://photos.nicolaspaillard.fr" target="_blank" pButton>
      <img src="https://ui.immich.app/_app/immutable/assets/immich-logo-stacked-dark.BcN8KrTB.svg" />
    </a>
    <a [outlined]="true" href="https://home.nicolaspaillard.fr" target="_blank" pButton>
      <img class="w-[50%]" src="https://www.svgrepo.com/show/281991/router.svg" />
      <span>ROUTER</span>
    </a>
    <a [outlined]="true" href="https://nas.nicolaspaillard.fr" target="_blank" pButton>
      <img class="w-[50%]" src="https://www.svgrepo.com/show/278371/server.svg" />
      <span>NAS</span>
    </a>
    <a [outlined]="true" href="https://x.nicolaspaillard.fr" target="_blank" pButton>
      <img src="https://raw.githubusercontent.com/stashapp/stash/5323d68d3d3234a00de67be838b9ea93105af74f/ui/v2.5/public/stash_icon.svg" />
    </a>
  </div>
</div>
