<canvas class="absolute bottom-0 left-0 right-0 top-0 bg-black" id="matrix" [ngClass]="{ hidden: !enableMatrix }" (window:resize)="animate()"></canvas>
<div class="absolute top-0 left-0 right-0 bottom-0 overflow-hidden" id="animation" [ngClass]="{ hidden: enableMatrix }"></div>
<div class="flex h-full w-full flex-col overflow-hidden">
  <nav class="card container fixed left-1/2 z-20 -translate-x-1/2 [&_button]:h-full [&_button]:w-full">
    <div class="flex justify-between gap-2 p-2 lg:justify-center [&_button]:w-fit!" #nav>
      <div class="flex gap-2">
        <button class="lg:hidden!" [text]="true" [ngClass]="{ 'border-primary!': menuShown.checked }" (click)="menuShown.checked = !menuShown.checked" pButton iconOnly size="large"><svg [pIcon]="'bars'" size="20"></svg></button>
        <button [ngClass]="{ 'border-none!': menuShown.checked }" [routerLinkActiveOptions]="{ exact: true }" [text]="true" pButton iconOnly routerLink="/" size="large" routerLinkActive="border-primary!"><svg [pIcon]="'home'" size="20"></svg></button>
        <button class="" (click)="downloadCV()" pButton size="large">CV</button>
        <input class="peer hidden" #menuShown type="checkbox" />
        <div class="hidden gap-2 overflow-hidden lg:flex">
          @for (route of routes; track $index) {
            @if (!route.canActivate || user()?.admin) {
              <button class="mb-2 lg:mb-0" [routerLink]="route.path" [text]="true" (click)="menuShown.checked = false" pButton size="large" routerLinkActive="border-primary!">{{ route.title }}</button>
            }
          }
        </div>
      </div>
      <div class="flex items-center gap-2">
        <p-toggleswitch class="inline-flex" [pTooltip]="enableMatrix ? 'Blue pill ?' : 'Red pill ?'" (onChange)="this.enableMatrix = !this.enableMatrix; applyPreset()" tooltipPosition="bottom">
          <ng-template #handle let-checked="checked">
            <i class="text-[10px]! pi" [ngClass]="[checked ? 'pi-check' : 'pi-times']"></i>
          </ng-template>
        </p-toggleswitch>
        <button (click)="user() ? signout() : (isSigninShown = true)" pButton size="large">{{ user() ? "Déconnexion" : "Connexion" }}</button>
      </div>
    </div>
    <div class="flex max-h-0 w-full flex-col overflow-hidden px-2 transition-[max-height] lg:hidden" [ngClass]="{ 'max-h-249.75!': menuShown.checked }">
      @for (route of routes; track $index) {
        @if (!route.canActivate || user()?.admin) {
          <button class="mb-2" [routerLink]="route.path" [text]="true" (click)="menuShown.checked = false" pButton size="large" routerLinkActive="[&>button]:border-primary!">{{ route.title }}</button>
        }
      }
    </div>
  </nav>
  <div class="shrink-0" [style.height.px]="nav.getBoundingClientRect().height + 4"></div>
  <div class="container relative mx-auto grow overflow-x-hidden" id="router-container" [ngClass]="{ 'overflow-hidden!': isTransitioning }">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
<app-animation></app-animation>
<p-toast [life]="5000" position="bottom-right"></p-toast>
<p-confirmdialog [dismissableMask]="true"></p-confirmdialog>
<p-dialog [(visible)]="isSigninShown" [modal]="true" [dismissableMask]="true" header="Connexion">
  <form class="flex flex-col gap-2 [&_input]:w-full" [formGroup]="formSignin">
    <label>
      Email
      <input [ngClass]="{ 'ng-invalid ng-dirty': formSignin.controls.email.invalid && (formSignin.controls.email.dirty || formSignin.controls.email.touched) }" type="text" pInputText formControlName="email" />
      <small class="text-red-500" *ngIf="formSignin.controls.email.invalid && (formSignin.controls.email.dirty || formSignin.controls.email.touched) && formSignin.controls.email.hasError('required')">L'email est requis</small>
    </label>
    <label>
      Mot de passe
      <p-password [feedback]="false" [toggleMask]="true" [ngClass]="{ 'ng-invalid ng-dirty': formSignin.controls.password.invalid && (formSignin.controls.password.dirty || formSignin.controls.password.touched) }" formControlName="password" styleClass="w-full" inputStyleClass="w-full"></p-password>
      <small class="text-red-500" *ngIf="formSignin.controls.password.invalid && (formSignin.controls.password.dirty || formSignin.controls.password.touched) && formSignin.controls.password.hasError('required')">Le mot de passe est requis</small>
    </label>
    <small class="text-red-500" *ngIf="formSignin.invalid && (formSignin.dirty || formSignin.touched) && formSignin.hasError('invalid')">Email ou mot de passe invalide</small>
    <div class="flex justify-between gap-2">
      <button [disabled]="!formSignin.controls.email.valid" [loading]="isSending" (click)="send()" pButton>Mdp oublié</button>
      <div class="flex gap-2">
        <button *ngIf="!user" [outlined]="true" (click)="isSigninShown = false; isSignupShown = true" pButton>Inscription</button>
        <button [disabled]="!formSignin.valid || isSigningIn" [loading]="isSigningIn" (click)="isSigningIn = true; signin()" pButton type="submit">Connexion</button>
      </div>
    </div>
  </form>
</p-dialog>
<p-dialog [(visible)]="isSignupShown" [modal]="true" [dismissableMask]="true" header="Inscription">
  <form class="flex flex-col gap-2 [&_input]:w-full" [formGroup]="formSignup">
    <label>
      Email
      <input [ngClass]="{ 'ng-invalid ng-dirty': formSignup.controls.email.invalid && (formSignup.controls.email.dirty || formSignup.controls.email.touched) }" type="text" pInputText formControlName="email" />
      <div class="flex flex-col text-red-500" *ngIf="formSignup.controls.email.invalid && (formSignup.controls.email.dirty || formSignup.controls.email.touched)">
        <small *ngIf="formSignup.controls.email.hasError('required')">L'email est requis</small>
        <small *ngIf="formSignup.controls.email.hasError('email')">L'email doit être de la forme xxxx&#64;gmail.com'</small>
        <small *ngIf="formSignup.controls.email.hasError('inuse')">Cette adresse est déjà utilisée</small>
        <small *ngIf="formSignup.controls.email.hasError('unknown')">Erreur inconnue, voir la console</small>
      </div>
    </label>
    <label>
      Mot de passe
      <p-password [toggleMask]="true" [ngClass]="{ 'ng-invalid ng-dirty': formSignup.controls.password.invalid && (formSignup.controls.password.dirty || formSignup.controls.password.touched) }" formControlName="password" styleClass="w-full" inputStyleClass="w-full">
        <div class="flex flex-col text-red-500" *ngIf="formSignup.controls.password.invalid && (formSignup.controls.password.dirty || formSignup.controls.password.touched)">
          <small *ngIf="formSignup.controls.password.hasError('required')">Le mot de passe est requis</small>
          <small *ngIf="formSignup.controls.password.hasError('pattern')">Le mot de passe doit contenir au moins une minuscule, une majuscule, un chiffre et un caractère spécial</small>
          <small *ngIf="formSignup.controls.password.hasError('minlength') || formSignup.controls.password.hasError('maxlength')">Le mot de passe doit faire de 8 à 4096 caractères</small>
        </div>
      </p-password>
    </label>
    <label>
      Répétez le mot de passe
      <p-password [feedback]="false" [toggleMask]="true" [ngClass]="{ 'ng-invalid ng-dirty': formSignup.controls.passwordrepeat.invalid && (formSignup.controls.passwordrepeat.dirty || formSignup.controls.passwordrepeat.touched) }" formControlName="passwordrepeat" styleClass="w-full" inputStyleClass="w-full">
        <div class="flex flex-col text-red-500" *ngIf="formSignup.controls.passwordrepeat.invalid && (formSignup.controls.passwordrepeat.dirty || formSignup.controls.passwordrepeat.touched)">
          <small *ngIf="formSignup.controls.passwordrepeat.hasError('required')">Le mot de passe est requis</small>
          <small *ngIf="formSignup.controls.passwordrepeat.hasError('notmatching')">Les mots de passe doivent être identiques</small>
        </div>
      </p-password>
    </label>
    <div class="flex justify-end gap-2">
      <button [text]="true" (click)="isSignupShown = false" pButton>Annuler</button>
      <button [disabled]="!formSignup.valid || isSigningUp" [loading]="isSigningUp" (click)="isSigningUp = true; signup()" pButton type="submit">Inscription</button>
    </div>
  </form>
</p-dialog>
<p-dialog [(visible)]="isResetShown" [modal]="true" [closable]="false" header="Réinitialisation">
  <form class="flex flex-col gap-2 [&_input]:w-full" [formGroup]="formReset">
    <label>
      Mot de passe
      <p-password [toggleMask]="true" [ngClass]="{ 'ng-invalid ng-dirty': formReset.controls.password.invalid && (formReset.controls.password.dirty || formReset.controls.password.touched) }" formControlName="password" styleClass="w-full" inputStyleClass="w-full">
        <div class="flex flex-col text-red-500" *ngIf="formReset.controls.password.invalid && (formReset.controls.password.dirty || formReset.controls.password.touched)">
          <small *ngIf="formReset.controls.password.hasError('required')">Le mot de passe est requis</small>
          <small *ngIf="formReset.controls.password.hasError('pattern')">Le mot de passe doit contenir au moins une minuscule, une majuscule, un chiffre et un caractère spécial</small>
          <small *ngIf="formReset.controls.password.hasError('minlength') || formReset.controls.password.hasError('maxlength')">Le mot de passe doit faire de 8 à 4096 caractères</small>
        </div>
      </p-password>
    </label>
    <label>
      Répétez le mot de passe
      <p-password [feedback]="false" [toggleMask]="true" [ngClass]="{ 'ng-invalid ng-dirty': formReset.controls.passwordrepeat.invalid && (formReset.controls.passwordrepeat.dirty || formReset.controls.passwordrepeat.touched) }" formControlName="passwordrepeat" styleClass="w-full" inputStyleClass="w-full">
        <div class="flex flex-col text-red-500" *ngIf="formReset.controls.passwordrepeat.invalid && (formReset.controls.passwordrepeat.dirty || formReset.controls.passwordrepeat.touched)">
          <small *ngIf="formReset.controls.passwordrepeat.hasError('required')">Le mot de passe est requis</small>
          <small *ngIf="formReset.controls.passwordrepeat.hasError('notmatching')">Les mots de passe doivent être identiques</small>
        </div>
      </p-password>
    </label>
    <div class="flex justify-end gap-2">
      <button [disabled]="!formReset.valid || isResetting" [loading]="isResetting" (click)="isResetting = true; reset()" pButton type="submit">Sauvegarder</button>
    </div>
  </form>
</p-dialog>
<p-dialog [(visible)]="isResumeShown" [modal]="true" [dismissableMask]="true" [resizable]="false" contentStyleClass="!w-full !h-full" styleClass="w-[calc(100%-calc(var(--spacing)*10))] h-[calc(100%-calc(var(--spacing)*10))] !max-h-full" header="C.V.">
  <iframe class="w-full h-full" [src]="resume"></iframe>
</p-dialog>
