@use "primeicons/primeicons.css" as *;
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "https://fonts.googleapis.com/css2?family=Aldrich&display=swap";

@layer components {
  .card {
    @apply border-primary backdrop-blur-xs rounded-[var(--p-overlay-modal-border-radius)] border-2 bg-[rgba(0,0,0,0.05)];
  }
}

:root {
  --view-transition-name: fade;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fade 1s ease-in-out;
}

html,
body {
  height: 100%;
  font-family: Aldrich;
  line-height: 1.2;
  font-size: 16px;
  background-color: var(--p-form-field-background);
}

.p-carousel .p-carousel-content {
  position: relative;
  > *:not(.p-carousel-viewport) {
    position: absolute;
    z-index: 1;
    &:first-child {
      left: calc(var(--spacing) * 1);
    }
    &:last-child {
      right: calc(var(--spacing) * 1);
    }
    > button {
      border-radius: var(--p-button-rounded-border-radius);
      &:hover {
        background-color: rgba(0, 0, 0, 0.3) !important;
      }
    }
  }
}
