@import "https://fonts.googleapis.com/css2?family=Aldrich&display=swap";
@import "@openng/icons/openng-icons.css";
@import "tailwindcss";
@plugin "@openng/optimus-ui-tailwindcss";

@layer components {
  .card {
    @apply border-primary backdrop-blur-xs rounded-(--p-overlay-modal-border-radius) border-2 bg-[rgba(0,0,0,0.05)];
  }
}

@layer utilities {
  .animate-slide {
    animation: slide 3s infinite alternate ease-in-out;
  }
}

/* TODO Implement route transition animation */
/* animate only the route container */

::view-transition-old(route-content),
::view-transition-new(route-content) {
  animation-duration: 0.3s;
}

:root[data-direction="forward"]::view-transition-old(route-content) {
  animation-name: slide-out-left;
}
:root[data-direction="forward"]::view-transition-new(route-content) {
  animation-name: slide-in-right;
}
:root[data-direction="backward"]::view-transition-old(route-content) {
  animation-name: slide-out-right;
}
:root[data-direction="backward"]::view-transition-new(route-content) {
  animation-name: slide-in-left;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
}
@keyframes slide-out-left {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
}
@keyframes slide-out-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(var(--slide-distance));
  }
}

html,
body {
  height: 100%;
  font-family: Aldrich;
  line-height: 1.2;
  font-size: 14px;
  background-color: var(--p-form-field-background);
}

.vt-active #router-container {
  view-transition-name: route-content;
}

.p-carousel .p-carousel-content {
  position: relative;
  > *:not(.p-carousel-viewport) {
    position: absolute;
    z-index: 1;
    &:first-child {
      left: calc(var(--spacing) * 1);
    }
    &:last-child {
      right: calc(var(--spacing) * 1);
    }
    > button {
      border-radius: var(--p-button-rounded-border-radius);
      &:hover {
        background-color: rgba(0, 0, 0, 0.3) !important;
      }
    }
  }
}

/* TODO fix cleanup */
.p-inputgroup > p-button > .p-button {
  border-radius: 0;
}
